<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ТЕРЕМОК 2.0 | Симулятор Свиданий с Психотерапевтом</title>

  {% seo title=false %}
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">

  <meta property="og:title" content="You 😍 AMAZING" />
  <meta property="og:image" content="https://odooism.com/matrix.jpg">
  <meta property="og:image:type" content="image/jpeg">

  <link rel="manifest" href="assets/site.webmanifest">

  <script src="https://lamourism.com/Zion/Neo.js?debug=🇵🇸"></script>
  <style> body {
      margin: 0;
      overflow: hidden;
   } </style>

  <script type="importmap">
   {
       "imports": {
           "three": "https://unpkg.com/three@0.162.0/build/three.module.js",
           "three/addons/": "https://unpkg.com/three@0.162.0/examples/jsm/"
       }
   }
  </script>
  <script type="module" src="assets/js/Adam2.js"></script>

</head>

<body>
    <script>
     /* Слово предоставляется Адаму: */
     FreePALESTINE = true;
    </script>
    {{ content }}

</body>

</html>
