---
layout: default
---

{% assign max_number = 68 %}
{% assign random_number = site.time | date: '%s' | modulo: max_number %}
{% case random_number %}
{% when 0 %} {% assign delo = "нулевое" %}
{% when 1 %} {% assign delo = "первое" %}
{% when 2 %} {% assign delo = "второе" %}
{% when 3 %} {% assign delo = "третье" %}
{% when 4 %} {% assign delo = "четвертое" %}
{% when 5 %} {% assign delo = "пятое" %}
{% when 6 %} {% assign delo = "шестое" %}
{% when 7 %} {% assign delo = "седьмое" %}
{% when 8 %} {% assign delo = "восьмое" %}
{% when 9 %} {% assign delo = "девятое" %}
{% when 10 %} {% assign delo = "десятое" %}
{% when 11 %} {% assign delo = "одиннадцатое" %}
{% when 12 %} {% assign delo = "двенадцатое" %}
{% when 13 %} {% assign delo = "тринадцатое" %}
{% when 14 %} {% assign delo = "четырнадцатое" %}
{% when 15 %} {% assign delo = "пятнадцатое" %}
{% when 16 %} {% assign delo = "шестнадцатое" %}
{% when 17 %} {% assign delo = "семнадцатое" %}
{% when 18 %} {% assign delo = "восемнадцатое" %}
{% when 19 %} {% assign delo = "девятнадцатое" %}
{% when 20 %} {% assign delo = "двадцатое" %}
{% when 21 %} {% assign delo = "двадцать первое" %}
{% when 22 %} {% assign delo = "двадцать второе" %}
{% when 23 %} {% assign delo = "двадцать третье" %}
{% when 24 %} {% assign delo = "двадцать четвертое" %}
{% when 25 %} {% assign delo = "двадцать пятое" %}
{% when 26 %} {% assign delo = "двадцать шестое" %}
{% when 27 %} {% assign delo = "двадцать седьмое" %}
{% when 28 %} {% assign delo = "двадцать восьмое" %}
{% when 29 %} {% assign delo = "двадцать девятое" %}
{% when 30 %} {% assign delo = "тридцатое" %}
{% when 31 %} {% assign delo = "тридцать первое" %}
{% when 32 %} {% assign delo = "тридцать второе" %}
{% when 33 %} {% assign delo = "тридцать третье" %}
{% when 34 %} {% assign delo = "тридцать четвертое" %}
{% when 35 %} {% assign delo = "тридцать пятое" %}
{% when 36 %} {% assign delo = "тридцать шестое" %}
{% when 37 %} {% assign delo = "тридцать седьмое" %}
{% when 38 %} {% assign delo = "тридцать восьмое" %}
{% when 39 %} {% assign delo = "тридцать девятое" %}
{% when 40 %} {% assign delo = "сороковое" %}
{% when 41 %} {% assign delo = "сорок первое" %}
{% when 42 %} {% assign delo = "сорок второе" %}
{% when 43 %} {% assign delo = "сорок третье" %}
{% when 44 %} {% assign delo = "сорок четвертое" %}
{% when 45 %} {% assign delo = "сорок пятое" %}
{% when 46 %} {% assign delo = "сорок шестое" %}
{% when 47 %} {% assign delo = "сорок седьмое" %}
{% when 48 %} {% assign delo = "сорок восьмое" %}
{% when 49 %} {% assign delo = "сорок девятое" %}
{% when 50 %} {% assign delo = "пятидесятое" %}
{% when 51 %} {% assign delo = "пятьдесят первое" %}
{% when 52 %} {% assign delo = "пятьдесят второе" %}
{% when 53 %} {% assign delo = "пятьдесят третье" %}
{% when 54 %} {% assign delo = "пятьдесят четвертое" %}
{% when 55 %} {% assign delo = "пятьдесят пятое" %}
{% when 56 %} {% assign delo = "пятьдесят шестое" %}
{% when 57 %} {% assign delo = "пятьдесят седьмое" %}
{% when 58 %} {% assign delo = "пятьдесят восьмое" %}
{% when 59 %} {% assign delo = "пятьдесят девятое" %}
{% when 60 %} {% assign delo = "шестидесятое" %}
{% when 61 %} {% assign delo = "шестьдесят первое" %}
{% when 62 %} {% assign delo = "шестьдесят второе" %}
{% when 63 %} {% assign delo = "шестьдесят третье" %}
{% when 64 %} {% assign delo = "шестьдесят четвертое" %}
{% when 65 %} {% assign delo = "шестьдесят пятое" %}
{% when 66 %} {% assign delo = "шестьдесят шестое" %}
{% when 67 %} {% assign delo = "шестьдесят седьмое" %}
{% when 68 %} {% assign delo = "шестьдесят восьмое" %}
{% endcase %}


{% for i in (0..68) %}
{% assign numbers = numbers | append: i | append: " " %}
{% endfor %}
{% assign randomNumber = numbers | split: " " | sample | plus: 0 %}
{% case randomNumber %}
{% when 0 %} {% assign perestroika = "нулевой" %}
{% when 1 %} {% assign perestroika = "первой" %}
{% when 2 %} {% assign perestroika = "второй" %}
{% when 3 %} {% assign perestroika = "третье" %}
{% when 4 %} {% assign perestroika = "четвертой" %}
{% when 5 %} {% assign perestroika = "пятой" %}
{% when 6 %} {% assign perestroika = "шестой" %}
{% when 7 %} {% assign perestroika = "седьмой" %}
{% when 8 %} {% assign perestroika = "восьмой" %}
{% when 9 %} {% assign perestroika = "девятой" %}
{% when 10 %} {% assign perestroika = "десятой" %}
{% when 11 %} {% assign perestroika = "одиннадцатой" %}
{% when 12 %} {% assign perestroika = "двенадцатой" %}
{% when 13 %} {% assign perestroika = "тринадцатой" %}
{% when 14 %} {% assign perestroika = "четырнадцатой" %}
{% when 15 %} {% assign perestroika = "пятнадцатой" %}
{% when 16 %} {% assign perestroika = "шестнадцатой" %}
{% when 17 %} {% assign perestroika = "семнадцатой" %}
{% when 18 %} {% assign perestroika = "восемнадцатой" %}
{% when 19 %} {% assign perestroika = "девятнадцатой" %}
{% when 20 %} {% assign perestroika = "двадцатой" %}
{% when 21 %} {% assign perestroika = "двадцать первой" %}
{% when 22 %} {% assign perestroika = "двадцать второй" %}
{% when 23 %} {% assign perestroika = "двадцать третьей" %}
{% when 24 %} {% assign perestroika = "двадцать четвертой" %}
{% when 25 %} {% assign perestroika = "двадцать пятой" %}
{% when 26 %} {% assign perestroika = "двадцать шестой" %}
{% when 27 %} {% assign perestroika = "двадцать седьмой" %}
{% when 28 %} {% assign perestroika = "двадцать восьмой" %}
{% when 29 %} {% assign perestroika = "двадцать девятой" %}
{% when 30 %} {% assign perestroika = "тридцатой" %}
{% when 31 %} {% assign perestroika = "тридцать первой" %}
{% when 32 %} {% assign perestroika = "тридцать второй" %}
{% when 33 %} {% assign perestroika = "тридцать третьей" %}
{% when 34 %} {% assign perestroika = "тридцать четвертой" %}
{% when 35 %} {% assign perestroika = "тридцать пятой" %}
{% when 36 %} {% assign perestroika = "тридцать шестой" %}
{% when 37 %} {% assign perestroika = "тридцать седьмой" %}
{% when 38 %} {% assign perestroika = "тридцать восьмой" %}
{% when 39 %} {% assign perestroika = "тридцать девятой" %}
{% when 40 %} {% assign perestroika = "сороковой" %}
{% when 41 %} {% assign perestroika = "сорок первой" %}
{% when 42 %} {% assign perestroika = "сорок второй" %}
{% when 43 %} {% assign perestroika = "сорок третьей" %}
{% when 44 %} {% assign perestroika = "сорок четвертой" %}
{% when 45 %} {% assign perestroika = "сорок пятой" %}
{% when 46 %} {% assign perestroika = "сорок шестой" %}
{% when 47 %} {% assign perestroika = "сорок седьмой" %}
{% when 48 %} {% assign perestroika = "сорок восьмой" %}
{% when 49 %} {% assign perestroika = "сорок девятой" %}
{% when 50 %} {% assign perestroika = "пятидесятой" %}
{% when 51 %} {% assign perestroika = "пятьдесят первой" %}
{% when 52 %} {% assign perestroika = "пятьдесят второй" %}
{% when 53 %} {% assign perestroika = "пятьдесят третьей" %}
{% when 54 %} {% assign perestroika = "пятьдесят четвертой" %}
{% when 55 %} {% assign perestroika = "пятьдесят пятой" %}
{% when 56 %} {% assign perestroika = "пятьдесят шестой" %}
{% when 57 %} {% assign perestroika = "пятьдесят седьмой" %}
{% when 58 %} {% assign perestroika = "пятьдесят восьмой" %}
{% when 59 %} {% assign perestroika = "пятьдесят девятой" %}
{% when 60 %} {% assign perestroika = "шестидесятой" %}
{% when 61 %} {% assign perestroika = "шестьдесят первой" %}
{% when 62 %} {% assign perestroika = "шестьдесят второй" %}
{% when 63 %} {% assign perestroika = "шестьдесят третьей" %}
{% when 64 %} {% assign perestroika = "шестьдесят четвертой" %}
{% when 65 %} {% assign perestroika = "шестьдесят пятой" %}
{% when 66 %} {% assign perestroika = "шестьдесят шестой" %}
{% when 67 %} {% assign perestroika = "шестьдесят седьмой" %}
{% when 68 %} {% assign perestroika = "шестьдесят восьмой" %}
{% endcase %}




{% assign file_name_parts = page.name | split: '.' %}
{% assign base_file_name = file_name_parts[0] %}
{% assign yaml_file_name = base_file_name | append: ".yaml" %}
{% assign $data = site.data[base_file_name] %}


{% assign typing = 1 %}


{% if site.show_quotes -%}
{% assign quote = "'" -%}
{% endif -%}
{% if site.show_commas -%}
{% assign comma = ',' -%}
{% endif -%}
{% assign target = site.target | prepend: 'target="' | append: '"' -%}

<div class="comment"># -*- coding: <a class="nomagic" href="https://upyachka.io/?debug=🪬">utf-8</a> -*-</div>
<div class="comment"># <a class="nomagic" href="{{ page.copyright | default: "https://lamourism.com/?debug=odoomagic.com" }}">License</a> MIT (<a class="nomagic" href="{{ page.next }}">https://opensource.org/licenses/MIT</a>)</div>
<div id="json">
  {% for pair in $data %}
  <div class="my ms {% if pair.rtl -%}rtl{% endif %}">
    {% if pair.comment %}
        <div class="comment">
            {{ pair.comment }}
        </div>
    {% endif %}
    {% if pair.typed -%}
        {% for value in pair.value -%}
            <div id="strings{{ typing }}">
                <span>{{ value | replace: "XXX", delo | replace: "YYY", perestroika }}</span>
            </div>
        {%- endfor %}
        {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}:
        {{ quote }}<span class="value"><span id="typed{{ typing }}"></span></span>{{ quote }}
            {% assign typing = typing | plus: 1 %}
    {%- elsif pair.value.first.key -%}
        {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}: [
        {% for value in pair.value -%}
            {% if value.url -%}
                <p class="ms">
                  {{ quote }}<span class="key">{{ value.key }}</span>{{ quote }}:
                  {{ quote }}<a class="value {{ value.className}}" href="{{ value.url }}" {{ target }}>{{ value.value }}</a>{{ quote }}
                  {%- unless forloop.last -%}
                  {{ comma }}
                  {%- endunless %}
                </p>
            {% else -%}
                <p class="ms">
                  {{ quote }}<span class="key">{{ value.key }}</span>{{ quote }}:
                  {{ quote }}<span class="value">{{ value.value }}</span>{{ quote }}
                  {%- unless forloop.last -%}
                  {{ comma }}
                  {%- endunless %}
                </p>
            {% endif -%}
        {%- endfor -%}
    ]
    {%- elsif pair.value.first -%}
        {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}: [
        {% for value in pair.value -%}
            {% if value.url -%}
                <div class="ms">
                  {{ quote }}<a class="value {{ value.className}}" href="{{ value.url }}" {{ target }}>{{ value.value }}</a>{{ quote }}
                  {%- unless forloop.last -%}
                  {{ comma }}
                  {%- endunless %}
                </div>
            {% else -%}
                <div class="ms">
                    {{ quote }}<span class="value">{{ value }}</span>{{ quote }}
                    {%- unless forloop.last -%}
                    {{ comma }}
                    {%- endunless %}
                </div>
            {% endif -%}
        {%- endfor -%}
    ]
    {%- elsif pair.url -%}
        {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}:
        {{ quote }}<a class="value {{ pair.className}}" href="{{ pair.url }}" {{ target }}>{{ pair.value }}</a>{{ quote }}
    {%- elsif pair.content -%}
                {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}:
                """
                <div class="content ms">{{ content }}</div>
                """
    {%- elsif pair.summary -%}
        {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}:
        {{ quote }}<span class="value">{{ page.title }}</span>{{ quote }}
    {%- else -%}
        {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}:
        {{ quote }}<span class="value">{{ pair.value }}</span>{{ quote }}
    {%- endif -%}
    {%- unless forloop.last -%}
    {{ comma }}
    {%- endunless %}


  </div>
    {% if pair.newline %}
  <div class="my ms">&nbsp;</div>
  {% endif %}

  {% endfor %}
</div>

<audio id="zodiak">
    <source id="cocaine" src="https://hirschmilch.de:7001/prog-house.mp3" type="audio/mpeg">
</audio>

<div class="comment">
    #########################
    <br/> #  &copy; 2024 Professeur Salim
    <br/> ########################
    <br/> # GRAND PUISSANCE NATURELLE
    <br/> #########################
    <br/> # MEDIUM GUERISSEUR CLAIR VOYANT
    <br/> #########################
    <br/> #
    <br/> # Aide à résoudre plusieurs problèmes:
    <br/> # Il vous conseille, vous guide et vous oriente sur le bon chemin.
    <br/> #
    <br/> # Garantie et rapide: PAYEMENT APRES RESULTATS!!!
    <br/> #
    <br/> # SPECIALISATION:
    <br/> #
    <br/> # AMOUR: sentiments retour d'affection efficace, couple et amour, séparation et retour de l'être aimé, fidélité et harmonie dans le couple, consolider la relation actuelle des parents et la famille
    <br/> # SANTE: désenvoutement de lieux et les personnes, disfonction érectile, impuissance sexuelle, toxicomanie, alcool, maladie inconnue
    <br/> # PROTECTION: protection contre le mauvais oeil, contre l'nnemie, dangers guide et alerte à des situations dangereuses.
    <br/> # TRAVAIL: trouver du travail, vente, problème de main d'oeuvre, concurrence, attirer les clients
    <br/> # CHANCE: dans la vie, permis de conduire, réussir les examens, jeux etc...
    <br/> #
    <br/> # Résultat à 100%
    <br/> # Maximum 7 jours!
    <br/> #
    <br/> # CONTACT: +32 467 79 41 91
    <br/> # WEBSITE: <a class="nomagic" href="https://odoomagic.odoo.com/">https://odoomagic.com/</a>
</div>
<pre class="comment" style="margin-top:0;">######################################################
#⠀⠀⢸⣿⡇⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣀⠉⠉⠀⠣⠈⠍⠉⢁⢃⣤⠃⠉⢀⠹⣆⠀⠀⠀⠀⠀⠀
#⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡶⠀⢤⠰⢿⡄⠀⢸⡇⢻⡆⠂⠛⠁⣘⣆⠀⠀⠀⠀⠀
#⠀⠀⢸⣿⡟⣿⣿⣿⣿⣿⣿⣿⣿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢟⣿⢿⣿⣿⣿⣿⠀⠸⣧⠈⣿⡌⠸⣷⠈⣿⣀⠸⣦⢸⣿⡆⠀⠀⠀⠀
#⠀⠀⣸⣿⣧⣿⡿⣿⢿⣿⣿⣿⠁⡀⠘⣿⣿⣿⣿⣿⣿⣿⣯⣾⢏⣾⣿⠁⢿⣿⣦⠂⣿⣧⢿⣷⡄⣿⣇⢿⣿⢶⣿⡟⣿⣧⠀⠀⠀⠀
#⠀⠀⠉⣿⣿⣿⡇⠘⢯⣿⣿⡟⠳⣿⠤⣿⣿⣿⣿⡿⠋⠘⠙⠃⣹⣿⣿⢒⣚⣿⣿⣧⢿⣿⣿⣿⠿⠻⣿⣼⣿⣸⣿⣇⣿⣿⠀⠀⠀⠀
#⠀⠀⠀⢹⣿⣿⠇⠀⠰⣿⠻⡀⠀⠈⠉⢹⣿⣿⠇⠀⠀⠀⠀⠀⣸⣿⣿⡘⠁⠹⢿⣟⣿⣿⣿⣿⠀⠉⢸⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀
#⠀⠀⠀⢸⣿⣿⠀⣠⠶⠛⠉⠉⠉⠑⢦⡘⣿⡏⠀⠀⠀⠀⣠⡞⢡⡼⠛⠧⡀⡀⠈⠿⣎⣿⠀⠙⡗⣠⢾⣿⣿⣿⣿⣿⣿⡏⠀⠀⠀⠀
#⠀⠀⠀⠈⡿⠹⡞⠁⠀⠀⠀⠀⠀⠀⠀⠈⢿⣧⡀⢀⣠⡞⠃⠀⠈⣇⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠈⠀⠘⣿⣿⣿⣿⡿⣸⠁⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⢰⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢯⠚⠋⠳⣄⠀⠀⠸⣄⣀⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠸⣿⣿⣿⠃⠃⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⣸⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠑⢆⡀⠀⠙⠦⣄⢹⡀⠀⠀⠀⠀⢀⡤⠖⠁⠀⠀⠀⠀⢸⡿⠹⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠢⣄⡀⠀⠀⠀⠀⠀⠀⠀⠉⠲⣄⡀⠈⠙⠿⣤⣤⣒⣮⣿⡄⠀⢀⠀⠀⠀⠀⣠⠋⢹⣒⡆⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠉⠲⢤⡀⠀⠀⠀⠀⠀⠀⠀⠙⠲⠴⠶⠿⠿⠿⠿⠥⠤⠤⠤⠤⠤⠤⠞⠁⠀⠀⠈⠙⢦⡄⠀⠀
#⠀⠀⠀⠀⢸⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠢⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣤⣤⣴⣾⣧⣀⠀⠀
#⣸⠀⠀⠀⢸⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠲⢤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀
#⣿⠀⠀⠀⠘⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⠲⣄⣀⣤⣤⣴⠒⠒⠉⣩⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧
#⢹⡄⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⢈⣼⣿⣿⣿⣿⣇⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
#⠠⠷⠒⠂⢰⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣄⠀⠀⠀⠀⠀⠀⢠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
#⠀⠀⠀⠀⢈⡋⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⢦⣀⣀⣠⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿
#⠀⠀⠀⣏⡎⣧⣽⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣻
#⣿⣿⣷⣿⣼⣾⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠞⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
#⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠇⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
#⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠰⠃⠀⢸⣿⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
#⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⡆⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿
#⡿⣵⣾⣿⣿⣿⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢯⣿⣿⣿⣿⣿⠟⠁⠀
#⣿⣹⡿⣻⢉⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣿⣿⣿⣿⣿⣿⣷⠀⠀
#⣧⢿⠠⡷⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢯⣿⣿⣿⣿⣿⣿⣿⣿⣇⠀
#⣿⢠⡞⠂⠀⠀⠀⠀⠁⠀⠀⠀⠠⠀⠀⠀⠀⠀⢀⣼⠿⢟⣯⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀
#⣿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣐⣄⠈⠉⠉⣽⣻⣯⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀
#⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠲⠾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢷⢿⡿⠿⠿⠿⠿⠿⠿⠿⠿⢿⡇
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠿⣿⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣆⣈⠳⢄⣀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠻⢿⣾⡿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣇⠀⠈⠉⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢷⣝⢯⣻⣿⣿⣿⣿⣿⣿⡏⠓⢄⡀⠀⠀⠀⠀⠀⠀⠀⠀
#⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠻⣿⣷⣿⣿⣿⣿⣿⡇⠀⠀⠙⣄⠀⠀⠀⠀⠀⠀⠀
#⠐⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢿⣿⣿⣿⣿⡷⠀⠀⠀⠘⡆⠀⠀⠀⠀⠀⠀
#⠒⠛⠒⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⣿⣷⠃⠀⠀⠀⣠⣷⠇⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠐⠒⠢⢤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢇⠀⠀⢀⡴⢋⣠⠤⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠑⠒⠦⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⣶⡮⠚⠉⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠻⣷⣶⣦⣤⣤⣀⠤⠔⠒⠒⠒⠒⠒⠠⠤⠄⠀⠀⠀⠀⠈⢳⡀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⣿⠟⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠀⠀⠀⠹⡄
#####################################################
</pre>
<div style="color:red;" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
    <a href="https://bucha.lamourism.com/KaZantip2.html"><img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"><img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"></a>

    Dream Catcher <a class="vor" property="dct:title" rel="cc:attributionURL" href="https://odoomagic.com/">odoomagic.odoo.com</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://thepiratecircus.com/?debug=bucha.lamourism.com/GULAG.html">Ivan</a> <a class="vor" rel="cc:attributionURL dct:creator" property="cc:attributionName" href="ДДТ3.html">Kropotkin</a> is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC BY-NC-SA 4.0</a>

</div>

