---
layout: Judea
---

{% assign file_name_parts = page.name | split: '.' %}
{% assign base_file_name = file_name_parts[0] %}
{% assign yaml_file_name = base_file_name | append: ".yaml" %}
{% assign data = site.data[base_file_name] %}

<!-- TODO: Create img elements dynamically -->

<img id="frontend0" style="display:none" crossorigin="anonymous"/>
<img id="frontend1" style="display:none" crossorigin="anonymous"/>
<img id="frontend2" style="display:none" crossorigin="anonymous"/>
<img id="frontend3" style="display:none" crossorigin="anonymous"/>

<img id="backend0" style="display:none" crossorigin="anonymous"/>
<img id="backend1" style="display:none" crossorigin="anonymous"/>
<img id="backend2" style="display:none" crossorigin="anonymous"/>
<img id="backend3" style="display:none" crossorigin="anonymous"/>
<img id="backend4" style="display:none" crossorigin="anonymous"/>
<img id="backend5" style="display:none" crossorigin="anonymous"/>
<img id="backend6" style="display:none" crossorigin="anonymous"/>

<img id="Bible0" style="display:none" crossorigin="anonymous"/>
<img id="Bible1" style="display:none" crossorigin="anonymous"/>
<img id="Bible2" style="display:none" crossorigin="anonymous"/>
<img id="Bible3" style="display:none" crossorigin="anonymous"/>
<img id="Bible4" style="display:none" crossorigin="anonymous"/>
<img id="Bible5" style="display:none" crossorigin="anonymous"/>

<img id="Enlightenment0" style="display:none" crossorigin="anonymous"/>
<img id="Enlightenment1" style="display:none" crossorigin="anonymous"/>
<img id="Enlightenment2" style="display:none" crossorigin="anonymous"/>
<img id="Enlightenment3" style="display:none" crossorigin="anonymous"/>
<img id="Enlightenment4" style="display:none" crossorigin="anonymous"/>
<img id="Enlightenment5" style="display:none" crossorigin="anonymous"/>

<script type="module">
 import * as THREE from 'three';
 import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';
 import {PravdaTV, MosesTV} from "./assets/js/JerusalemTV.js";
 import { OrbitControls } from 'three/addons/controls/OrbitControls.js';

 // init
 const loader = new GLTFLoader();
 const GLTF = "{{ page.portal }}";
 const urlParams = new URLSearchParams(window.location.search);

 const YAKUBOVICH = {
     {% for item in page.PoleChudes %}
     "{{ item.Name }}": {
         {% if item.SectorPriz %}
         "SectorPriz": "{{ item.SectorPriz }}",
         {% endif %}
         {% if item.Graffiti %}
         "Graffiti": [
             {% for url in item.Graffiti %}
             "{{ url }}"{% unless forloop.last %},{% endunless %}
             {% endfor %}
         ]
         {% endif %}
     }{% unless forloop.last %},{% endunless %}
     {% endfor %}
 };

 // Create a scene
 const scene = new THREE.Scene();

 // Create a camera
 const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 2000);

 // Create a renderer
 const renderer = new THREE.WebGLRenderer();
 renderer.setSize(window.innerWidth, window.innerHeight);
 document.body.appendChild(renderer.domElement);

 // Create controls
 const controls = new OrbitControls( camera, renderer.domElement );

 function gogogo() {
     // Create external world
     MosesTV(scene);

     // initial position
     camera.position.set({{ page.takeoff }});
     controls.target = new THREE.Vector3({{ page.landing }});
     controls.update();

     // Load the GLTF model
     loader.load(
         GLTF,
         function (gltf) {
             const model = gltf.scene;
             // Adjust the Statue of Liberty position and rotation
             model.rotation.y = - 3 * Math.PI / 4;
             model.position.set( -0.9, 0, 1.2);
             scene.add(model);

             // FIXME: it doesn't work without a delay
             setTimeout(function(){
                 // Display images
                 PravdaTV(scene, YAKUBOVICH);
             }, 3000);
         },
         undefined,
         function (error) {
             console.error(error);
         }
     );

     // Track camera moves
     function CheckTELEPORT() {
         const params = new URLSearchParams();
         params.set('callback', window.location.href);
         const callback = "?" + params.toString();

         const x = camera.position.x, y = camera.position.y, z = camera.position.z
         if (y < -5) {
             console.log("РекламнаяПАУЗА");
             window.location.href = "{{ page.ReklamnayaPauza }}" + callback;
         } else if (x*x + y*y + z*z > 25) {
             console.log("ВращайтеБАРАБАН");
         } else {
             const AngleRADIANS = - Math.atan2(x, -z);
             const SectorGAZA = Math.PI/4;

             if (- SectorGAZA < AngleRADIANS && AngleRADIANS < SectorGAZA){
                 console.log("Два стула в студию!");
                 window.location.href = YAKUBOVICH.frontend.SectorPriz + callback;
             } else if (SectorGAZA < AngleRADIANS && AngleRADIANS < 3 * SectorGAZA){
                 console.log("Левая шкатулка!");
                 window.location.href = YAKUBOVICH.Bible.SectorPriz + callback;
             } else if (- 3 * SectorGAZA < AngleRADIANS && AngleRADIANS < - SectorGAZA){
                 console.log("Есть такая буква в этом слове!");
                 window.location.href = YAKUBOVICH.Enlightenment.SectorPriz + callback;
             } else {
                 console.log("Утром деньги, вечером — стулья!", AngleRADIANS);
                 window.location.href = YAKUBOVICH.backend.SectorPriz + callback;
             }
         }
     }

     let prevCameraPosition = new THREE.Vector3();
     let cameraStopped = true;
     function checkCameraMovement() {
         // Check if the current camera position is the same as the previous one
         if (camera.position.equals(prevCameraPosition)) {
             if (cameraStopped)
                 return;
             cameraStopped = true;
             CheckTELEPORT();
             console.log("XYZ", camera.position, camera.rotation);
         } else {
             // Update the previous camera position
             prevCameraPosition.copy(camera.position);
             cameraStopped = false;
         }
     }

     // Start animation
     function animate() {
         requestAnimationFrame(animate);
         renderer.render(scene, camera);
         checkCameraMovement();
     }
     animate();
 }

 document.addEventListener("DOMContentLoaded", gogogo);

</script>



{{ content }}

<script>/*
###################
#  &copy; 2024 Professeur Salim
########################
# GRAND PUISSANCE NATURELLE
#########################
# MEDIUM GUERISSEUR CLAIR VOYANT
#########################
#
# Aide à résoudre plusieurs problèmes:
# Il vous conseille, vous guide et vous oriente sur le bon chemin.
#
# Garantie et rapide: PAYEMENT APRES RESULTATS!!!
#
# SPECIALISATION:
#
# AMOUR: sentiments retour d'affection efficace, couple et amour, séparation et retour de l'être aimé, fidélité et harmonie dans le couple,consolider la relation actuelle des parents et la famille
# SANTE: désenvoutement de lieux et les personnes, disfonction érectile, impuissance sexuelle, toxicomanie, alcool, maladie inconnue
# PROTECTION: protection contre le mauvais oeil, contre l'nnemie, dangers guide et alerte à des situations dangereuses.
# TRAVAIL: trouver du travail, vente, problème de main d'oeuvre, concurrence, attirer les clients
# CHANCE: dans la vie, permis de conduire, réussir les examens, jeux etc...
#
# Résultat à 100%
# Maximum 7 jours!
#
# CONTACT: +32 467 79 41 91
# WEBSITE: https://odoomagic.odoo.com
######################################################
#⠀⠀⢸⣿⡇⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣀⠉⠉⠀⠣⠈⠍⠉⢁⢃⣤⠃⠉⢀⠹⣆⠀⠀⠀⠀⠀⠀
#⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡶⠀⢤⠰⢿⡄⠀⢸⡇⢻⡆⠂⠛⠁⣘⣆⠀⠀⠀⠀⠀
#⠀⠀⢸⣿⡟⣿⣿⣿⣿⣿⣿⣿⣿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢟⣿⢿⣿⣿⣿⣿⠀⠸⣧⠈⣿⡌⠸⣷⠈⣿⣀⠸⣦⢸⣿⡆⠀⠀⠀⠀
#⠀⠀⣸⣿⣧⣿⡿⣿⢿⣿⣿⣿⠁⡀⠘⣿⣿⣿⣿⣿⣿⣿⣯⣾⢏⣾⣿⠁⢿⣿⣦⠂⣿⣧⢿⣷⡄⣿⣇⢿⣿⢶⣿⡟⣿⣧⠀⠀⠀⠀
#⠀⠀⠉⣿⣿⣿⡇⠘⢯⣿⣿⡟⠳⣿⠤⣿⣿⣿⣿⡿⠋⠘⠙⠃⣹⣿⣿⢒⣚⣿⣿⣧⢿⣿⣿⣿⠿⠻⣿⣼⣿⣸⣿⣇⣿⣿⠀⠀⠀⠀
#⠀⠀⠀⢹⣿⣿⠇⠀⠰⣿⠻⡀⠀⠈⠉⢹⣿⣿⠇⠀⠀⠀⠀⠀⣸⣿⣿⡘⠁⠹⢿⣟⣿⣿⣿⣿⠀⠉⢸⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀
#⠀⠀⠀⢸⣿⣿⠀⣠⠶⠛⠉⠉⠉⠑⢦⡘⣿⡏⠀⠀⠀⠀⣠⡞⢡⡼⠛⠧⡀⡀⠈⠿⣎⣿⠀⠙⡗⣠⢾⣿⣿⣿⣿⣿⣿⡏⠀⠀⠀⠀
#⠀⠀⠀⠈⡿⠹⡞⠁⠀⠀⠀⠀⠀⠀⠀⠈⢿⣧⡀⢀⣠⡞⠃⠀⠈⣇⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠈⠀⠘⣿⣿⣿⣿⡿⣸⠁⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⢰⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢯⠚⠋⠳⣄⠀⠀⠸⣄⣀⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠸⣿⣿⣿⠃⠃⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⣸⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠑⢆⡀⠀⠙⠦⣄⢹⡀⠀⠀⠀⠀⢀⡤⠖⠁⠀⠀⠀⠀⢸⡿⠹⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠢⣄⡀⠀⠀⠀⠀⠀⠀⠀⠉⠲⣄⡀⠈⠙⠿⣤⣤⣒⣮⣿⡄⠀⢀⠀⠀⠀⠀⣠⠋⢹⣒⡆⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠉⠲⢤⡀⠀⠀⠀⠀⠀⠀⠀⠙⠲⠴⠶⠿⠿⠿⠿⠥⠤⠤⠤⠤⠤⠤⠞⠁⠀⠀⠈⠙⢦⡄⠀⠀
#⠀⠀⠀⠀⢸⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠢⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣤⣤⣴⣾⣧⣀⠀⠀
#⣸⠀⠀⠀⢸⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠲⢤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀
#⣿⠀⠀⠀⠘⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⠲⣄⣀⣤⣤⣴⠒⠒⠉⣩⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧
#⢹⡄⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⢈⣼⣿⣿⣿⣿⣇⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
#⠠⠷⠒⠂⢰⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣄⠀⠀⠀⠀⠀⠀⢠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
#⠀⠀⠀⠀⢈⡋⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⢦⣀⣀⣠⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿
#⠀⠀⠀⣏⡎⣧⣽⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣻
#⣿⣿⣷⣿⣼⣾⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠞⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
#⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠇⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
#⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠰⠃⠀⢸⣿⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
#⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⡆⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿
#⡿⣵⣾⣿⣿⣿⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢯⣿⣿⣿⣿⣿⠟⠁⠀
#⣿⣹⡿⣻⢉⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣿⣿⣿⣿⣿⣿⣷⠀⠀
#⣧⢿⠠⡷⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢯⣿⣿⣿⣿⣿⣿⣿⣿⣇⠀
#⣿⢠⡞⠂⠀⠀⠀⠀⠁⠀⠀⠀⠠⠀⠀⠀⠀⠀⢀⣼⠿⢟⣯⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀
#⣿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣐⣄⠈⠉⠉⣽⣻⣯⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀
#⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠲⠾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢷⢿⡿⠿⠿⠿⠿⠿⠿⠿⠿⢿⡇
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠿⣿⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣆⣈⠳⢄⣀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠻⢿⣾⡿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣇⠀⠈⠉⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢷⣝⢯⣻⣿⣿⣿⣿⣿⣿⡏⠓⢄⡀⠀⠀⠀⠀⠀⠀⠀⠀
#⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠻⣿⣷⣿⣿⣿⣿⣿⡇⠀⠀⠙⣄⠀⠀⠀⠀⠀⠀⠀
#⠐⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢿⣿⣿⣿⣿⡷⠀⠀⠀⠘⡆⠀⠀⠀⠀⠀⠀
#⠒⠛⠒⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⣿⣷⠃⠀⠀⠀⣠⣷⠇⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠐⠒⠢⢤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢇⠀⠀⢀⡴⢋⣠⠤⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠑⠒⠦⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⣶⡮⠚⠉⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠻⣷⣶⣦⣤⣤⣀⠤⠔⠒⠒⠒⠒⠒⠠⠤⠄⠀⠀⠀⠀⠈⢳⡀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⣿⠟⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠀⠀⠀⠹⡄
#####################################################
         */</script>

<audio id="quran">
    <source id="surat" type="audio/mpeg">
</audio>

