---
layout: code
---


{% assign file_name_parts = page.name | split: '.' %}
{% assign base_file_name = file_name_parts[0] %}
{% assign html_file_name = base_file_name | append: ".html" %}

{% capture html_content %}
{% include {{ html_file_name }} %}
{% endcapture %}

{% assign html_content = html_content | replace: "##CONTENT##", content %}
{% assign html_content = html_content | replace: "##TITLE##", page.title %}



<div class="comment"># -*- coding: <a class="nomagic" href="https://upyachka.io/?debug=🪬">utf-8</a> -*-</div>
<div class="comment"># <a class="nomagic" href="{{ page.copyright | default: "https://lamourism.com/?debug=odoomagic.com" }}">License</a> MIT (<a class="nomagic" href="{{ page.next }}">https://opensource.org/licenses/MIT</a>)</div>

{{ html_content }}

{% include python_footer.html %}

<audio id="zodiak">
    <source src="https://hirschmilch.de:7001/prog-house.mp3" type="audio/mpeg">
</audio>
